:root { 
    --BG : #303657;
    --BTN : #325730;
    --Secondary: #E5DFAF;
}

.bg {
    background-color: var(--BG);
}

.text {
    color: white;
}

.btn {
    background-color: var(--BTN);
    color: white;
}

.bg_cell {
    background-color: rgb(236, 234, 230);
}

.cell_click {
    background-color: rgb(116, 73, 43);
}

.clue_bg {
    background-color: var(--Secondary);
}

.clue_color {
    color: var(--BTN);
}

.modal_bg {
    background-color: var(--Secondary);
}

.text_win {
    font-size: 1.2rem;
    color: var(--BTN);
}

.list_item {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--BTN);
}
